@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@100&display=swap');

:root{
    --whiteBlue: #f2f7ff;
    --darkBlue: #001233;
    --violet: #7364d2;

    --libre: 'Libre Baskerville', serif;
    --poppins: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    color: var(--whiteBlue);
}

*, ::before, ::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    height: auto;
}

#Home{
    width: 100vw;
    height: 100vh;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
}

.myName{
    font-size: 1.6rem;
    letter-spacing: 4px;
    font-family: var(--libre);
    font-weight: 300;
}

nav{
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation{
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

#Home button{
    text-decoration: none;
    font-family: var(--libre);
    font-size: 0.8rem;
    position: relative;
    background-color: transparent;
    border: none;
    transition: color 0.3s ease;
}

#Home button::after{
    content: '';
    position: absolute;
    bottom: -3px;
    width: 0px;
    height: 2px;
    background-color: var(--violet);
    left: 0;
    right: 0;
    margin: auto;
    transition: width .15s linear;
}

#Home button:hover{
    cursor: pointer;
}

#Home button:hover::after{
    width: 100%;
}

.home{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.home__parallax{
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home__parallax-img1{
    background-image: url('/img/imgm1.png');
    z-index: 1;
}

.home__parallax-img2{
    background-image: url('/img/imgm2.png');
    z-index: 10;
}

.home__parallax-img3{
    background-image: url('/img/imgm3.png');
    z-index: 100; 
}

.home__parallax-img4{
    background-image: url('/img/imgm4.png');
    z-index: 100;
}

.subtitle, .title{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title{
    top: 44%;
    z-index: 10;
    font-size: 4rem;
    font-family: var(--libre);
}

.subtitle{
    top: 32%;
    font-size: 1.2rem;
    z-index: 1;
    font-family: var(--poppins);
}

#Projects{
    font-size: 2rem;
    padding: 2rem;
}