@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@100&display=swap');

:root{
    --whiteBlue: #f2f7ff;
    --darkBlue: #031E31;
    --middleBlue: #185C72 ;
    --lightBlue: #90e0ef;

    --libre: 'Libre Baskerville', serif;
    --poppins: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    color: var(--whiteBlue);
}

*, ::before, ::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
    padding: 1.5rem;
}

.myName{
    font-size: 1.3rem;
    letter-spacing: 4px;
    font-family: var(--libre);
    font-weight: 300;
}

nav{
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.9rem;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#Home button{
    text-decoration: none;
    font-family: var(--libre);
    font-size: 0.8rem;
    position: relative;
    background-color: transparent;
    border: none;
    transition: color 0.3s ease;
}

#Home button::after{
    content: '';
    position: absolute;
    bottom: -3px;
    width: 0px;
    height: 2px;
    background-color: var(--whiteBlue);
    left: 0;
    right: 0;
    margin: auto;
    transition: width .15s linear;
}

#Home button:hover{
    cursor: pointer;
}

#Home button:hover::after{
    width: 100%;
}

#btn-login{
    font-family: var(--libre);
    font-size: 1rem;
    border: none;
    background-color: var(--lightBlue);
    position: relative;
    transition: 0.5s;
    padding: 10px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#btn-login:hover{
    letter-spacing: 0.2rem;
    box-shadow: 0 0 35px var(--lightBlue);
    background: var(--lightBlue);
}

#btn-login::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #007D93;
}

#btn-login span{
    position: relative;
    z-index: 1;
}

#btn-login i{
    position: absolute;
    inset: 0;
    display: block;
}

#btn-login i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background-color: #007D93;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#btn-login:hover i::before{
    width: 20px;
    left: 20%;
}

#btn-login i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 5px;
    background-color: #007D93;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

#btn-login:hover i::after{
    width: 20px;
    left: 80%;
}

.main-content{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-parallax{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.home-parallax-img1{
    background-image: url("../img/mountain1.png");
    z-index: 1;
}

.home-parallax-img2{
    background-image: url("../img/mountain2.png");
    z-index: 10;
}

.home-parallax-img3{
    background-image: url("../img/mountain3.png");
    z-index: 100; 
}

.home-parallax-img4{
    background-image: url("../img/mountain4.png");
    z-index: 100;
}

.subtitle, .title{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title{
    z-index: 1;
    font-size: 2rem;
    font-family: var(--libre);
    text-align: center;
}

.subtitle{
    font-size: 1rem;
    z-index: 1;
    font-family: var(--poppins);
    margin-bottom: 1rem;
}

@media screen and (min-width:700px){
    nav{
        flex-direction: row;
    }

    .myName{
        font-size: 1.6rem;
    }

    .btns{
        width: 600px;
    }

    #Home Button{
        font-size: 0.9rem;
    }

    .title{
        font-size: 3rem;
    }

    .subtitle{
        font-size: 1.6rem;
    }
}

/* SECTION ABOUT */

#About{
    background-color: var(--middleBlue);
    padding: 3rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

#About h1{
    font-family: var(--libre);
    font-size: 2rem;
}

.aboutMe{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}


.myFoto img{
    width: 200px;
    border: 2px solid var(--darkBlue);
    border-radius: 5px;
}

.aboutMe p{
    font-family: var(--poppins);
    text-align: justify;
    word-break: break-all;
}

@media screen and (min-width:700px){

    #About h1{
        font-family: var(--libre);
        font-size: 2rem;
    }

    .aboutMe{
        flex-wrap: nowrap;
        gap: 24px;
    }
    .myFoto{
        width: 300px;
    }
    .aboutMe{
        font-size: 1.2rem;
        width: 90%;
    }
}

/* SECTION PROJECTS */

#Projects{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkBlue);
    padding: 3rem;
}

#Projects h1{
    font-family: var(--libre);
    font-size: 2rem;
}

.swiper{
    width: 100%;
    padding: 50px;
    margin: 2rem !important;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 400px !important;
    height: 450px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 5px !important;

}

.project{
    position: relative;
    padding: 2rem;
    margin: 2rem;
    background-color: var(--whiteBlue);
    border-radius: 5px;
    width: 300px;
    height: 400px;
}

.proj-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-content a, img{
    border-radius: 5px;
    width: 240px;
}

.proj-content p{
    font-family: var(--poppins);
    margin-top: 10px;text-align: justify;
    color: var(--darkBlue);
    font-weight: 700;
    font-size: 0.9rem;
}

/* SECTION SKILLS */

#Skills{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--middleBlue);
    padding: 3rem;
    gap: 24px;
}

#Skills h1{
    font-family: var(--libre);
    font-size: 2rem;
    margin-bottom: 24px;
}

.skills-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 16px;
}

.box-img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.box-img img{
    width: 40px;
    position: relative;
    z-index: 10;
}

.box-img::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 140%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

.box-img::after{
    content: '';
    position: absolute;
    inset: 1px;
    background-color: var(--middleBlue);
    border-radius: 20px;
}

.swiper-pagination-bullet-active{
    background-color: var(--lightBlue) !important;
}


@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* SECTION CONTACT */

#Contact{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--darkBlue);
    padding: 1rem;
    box-sizing: border-box;
}

#Contact h1{
    font-family: var(--libre);
    font-size: 2rem;
    margin-bottom: 24px;
}

.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.holdForm{
    width: 300px;
    height: 320px;
    padding: 1rem 1rem;
    border-radius: 5px;
    background: #f2f7ff27;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    position: relative;
}

.holdForm form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 2rem;
}

.input-form{
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid var(--darkBlue);
    padding: 0 5px;
    width: 100%;
    display: block;
    color: var(--whiteBlue);
    font-family: var(--poppins);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.holdForm textarea{
    border: 1px solid var(--darkBlue);
    resize: none;
    padding: 8px;
}

.holdForm textarea:focus{
    border: 1px solid var(--lightBlue);
    transition: 0.5s;
}

.focus-input-form{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.input-form::placeholder{
    color: var(--whiteBlue);
    font-family: var(--poppins);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2px;
}


.focus-input-form::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background-color: var(--lightBlue);
}

.focus-input-form::after{
    content: attr(placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
    color: var(--whiteBlue);
    font-family: var(--poppins);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.input-form:focus + .focus-input-form::after{
    top: -20px;
    font-size: 0.6rem;
    color: var(--lightBlue);
}

.input-form:focus + .focus-input-form::before{
    width: 100%;
}

.wrap-input{
    width: 100%;
    position: relative;
}

.btn-form{
    height: 35px;
    width: 100px;
    border: 1px solid var(--darkBlue);
    background: transparent;
    font-family: var(--poppins);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn-form:hover{
    border: 2px solid var(--whiteBlue);
    letter-spacing: 3px;
    width: 110px;
    transition: 0.5s;
}

.socials h2{
    font-family: var(--libre);
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 500;
}

.holdSvg a{
    text-decoration: none;
    font-family: var(--poppins);
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 4px;
}

.holdSvg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holdSvg span{
    width: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.holdSvg a, i:hover{
    fill: var(--darkBlue);
}

.holdSvg ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
}

.holdSvg li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:700px){
    #Contact{
        padding: 3rem;
    }
    .contact-content{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;

    }

    .holdForm{
        width: 400px;
        height: 440px;
    }

    .holdSvg ul{
        position: relative;
        transform: skewY(-15deg);
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 80px;
        transition: 0.5s;

    }

    .holdSvg li{
        position: relative;
        width: 200px;
        background-color: #09232B;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: var(--i);
        transition: 0.5s;
    }

    .holdSvg li::before{
        content: '';
        position: absolute;
        top: 0;
        left: -40px;
        width: 40px;
        height: 100%;
        background-color: #06171D;
        transform-origin: right;
        transform: skewY(45deg);
        transition: 0.5s;
        filter: brightness(0.7);
    }

    .holdSvg li::after{
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: #06171D;
        transform-origin: bottom;
        transform: skewX(45deg);
        filter: brightness(0.7);
        transition: 0.5s;
    }

    .holdSvg li:hover{
        background-color: #113F4E;
        transform: translateX(-50px);
    }

    .holdSvg li:hover::before{
        background-color: #113F4E;
        filter: brightness(0.7);
    }

    .holdSvg li:hover::after{
        background-color: #113F4E;
        filter: brightness(0.7);
    }

    .holdSvg a{
        display: block;
        letter-spacing: 0.05em;
        transition: 0.5s;
        color: #999;
        fill: rgba(153, 153, 153, 0.738);
    }

    .holdSvg li:hover a{
        color: var(--whiteBlue);
        fill: var(--whiteBlue);
        font-weight: 600;
    }

    .holdSvg li:last-child::after{
        box-shadow: -120px 120px 20px rgba(0,0,0,.25);
    }

    .holdSvg li span{
        position: absolute;
        top: 0;
        left: -40px;
        width: 40px;
        height: 100%;
        transform-origin: right;
        transform: skewY(45deg);
        transition: 0.5s;
        filter: brightness(0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        opacity: 0.5;
    }

    .holdSvg li:hover span{
        opacity: 1;
    }
}

/* Footer */

footer{
    height: 60px;
    width: 100%;
    position: relative;
    bottom: 0;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    background-color: var(--darkBlue);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1{
    font-family: var(--libre);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 8px;
}

footer img{
    width: 20px;
}
