 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@100&display=swap');

:root{
    --whiteBlue: #f2f7ff;
    --darkBlue: #031E31;
    --middleBlue: #185C72 ;
    --lightBlue: #90e0ef;

    --libre: 'Libre Baskerville', serif;
    --poppins: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    color: var(--whiteBlue);
}

body{
    background-image: linear-gradient(to bottom, #185C72, #031E31);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holdForm{
    width: 380px;
    height: 400px;
    padding: 2rem 1rem;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    backdrop-filter: blur(18.1px);
    background: rgba(255, 255, 255, 0.11);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.holdForm h1{
    font-family: var(--libre);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.holdForm form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.input-form{
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid var(--lightBlue);
    padding: 0 5px;
    width: 100%;
    display: block;
    color: var(--whiteBlue);
    font-family: var(--poppins);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.holdForm textarea{
    border: 1px solid var(--lightBlue);
    resize: none;
    padding: 8px;
}

.focus-input-form{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.input-form::placeholder{
    color: var(--whiteBlue);
    font-family: var(--poppins);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2px;
}


.focus-input-form::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background-color: var(--lightBlue);
}

.focus-input-form::after{
    content: attr(placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
    color: var(--whiteBlue);
    font-family: var(--poppins);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.input-form:focus + .focus-input-form::after{
    top: -20px;
    font-size: 0.6rem;
    color: var(--lightBlue);
}

.input-form:focus + .focus-input-form::before{
    width: 100%;
}

.wrap-input{
    width: 100%;
    position: relative;
}

.btn-form{
    height: 35px;
    width: 120px;
    border: 1px solid var(--lightBlue);
    background: transparent;
    font-family: var(--poppins);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn-form:hover{
    border: 2px solid var(--lightBlue);
    letter-spacing: 3px;
    transition: 0.5s;
} 

.holdForm a, strong{
    font-family: var(--poppins);
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.holdForm a{
    width: 100%;
    display: flex;
    justify-content: center;
}

.holdForm a:hover{
    color: var(--lightBlue);
}

.holdForm a:hover strong{
    color: var(--lightBlue);
}

.arrow{
    text-decoration: none;
    
}

.msg{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--lightBlue);
    border-radius: 5px;
    margin-top: 2rem;
    text-align: center;
}

.resume{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.resume h1{
    font-family: var(--libre);
    margin: 0.5rem 0;
    font-size: 2rem;
}

.resume h2{
    font-family: var(--libre);
    color: #00ab44;
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.resume p{
    font-family: var(--poppins);
    line-height: 1.8;
    text-align: justify;
}

#italic{
    font-family: var(--poppins);
    font-style: italic;
}

#name{
    margin-bottom: 24px;
}

#objetivo{
    margin-bottom: 24px;
}

#comp{
    margin-bottom: 24px;
}

#exp{
    margin-bottom: 24px;
}

.links{
    display: flex;
    flex-direction: column;
    font-family: var(--poppins);
    width: fit-content;
}

.links a:hover{
    color: #00ab44;
}

.hold{
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.display-flex{
    display: flex;
    align-items: center;
}